@charset    "UTF-8";

body { 
    background-color: antiquewhite;
    font-family: poppins, sans-serif;
    text-align: center;
}

h1#principal {
    color: darkblue;
    text-align: center; /* Centraliza o texto */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    border-bottom: 2px solid darkblue; /* Adiciona uma borda inferior */
    padding-bottom: 10px; /* Espaçamento interno abaixo do texto */
    margin-bottom: 20px; /* Espaçamento externo abaixo do título */
}

h1 {
    color: darkred;
    text-transform: uppercase;
}   

h2 {
    color: darkgreen;
    text-transform: uppercase;
}

p {
    color: black;
    font-size: 18px;
    text-indent: 20px;
    padding-left: 500px;
    padding-right: 500px;
}   

.basico {
    color: rgb(139, 61, 61);
}

.intermediario {
    color: rgb(62, 61, 139);
}

.avancado {
    color: rgb(61, 139, 61);
}