@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/Android.ttf') format('truetype');
    font-weight: normal;
}

:root {
    /* Paleta de Cores */
    --color0: #c5ebd6;
    --color1: #83e1ad;
    --color2: #3ddc84;
    --color3: #2fa866;
    --color4: #1a5c37;
    --color5: #063d1e;

    /* Fontes */
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}   

* {
    /* Reset de Margens e Padding */
    margin: 0px;
    padding: 0px;
}

body { 
    background-color: var(--color1);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--color3), var(--color5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav {
    background-color: var(--color5);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.3);
    transition-duration: .5s;
}
nav a {
    color:var(--color0);
    text-decoration: none;
    padding: 10px;;
    margin: 15px;
    font-size: 1.1em;
    font-weight: normal;
    font-family: var(--fonte-destaque);
}

nav a:hover {
    background-color: var(--color3);
    color: var(--color5);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--color5);
    font-family: var(--fonte-android);
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--color4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--color1),transparent);
    text-indent: 8px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    color: var(--color4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color5);
    background-color: var(--color1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
}
main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--color5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe {
    border: none;
    position: absolute;
    top: 20px;
    left: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
}

aside {
    background-color: var(--color1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

aside > h3{
    background-color: var(--color4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

aside a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color1);
    background-color: var(--color5);
    padding: 2px 6px;
}

aside a:hover {
    text-decoration: underline;
}
footer {
    background-color: var(--color5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}