@charset "UTF-8";

    body {
            background-color: rgb(234, 255, 0);
            font-family: Arial, sans-serif;
            font-size: 20px;
        }
        h1 {
            color: rgb(0, 0, 0);
            background-color: rgb(152, 164, 42);
        }
        h2 {
            color: rgb(255, 0, 0)
        }
        p {
            text-align: justify;
        }